<EXAMPLE.COM> {
  root * /usr/share/caddy

  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  reverse_proxy @websockets 172.20.0.20:2213/ws

  route {
    reverse_proxy /ws 172.20.0.20:2213
    file_server
  }

  log {
    output stdout
  }
}
